### 전처리

In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS']
collection = database['NSC2_BND_M20']

In [4]:
cursor = collection.find({})
list_BND_M20 = list(cursor)

In [5]:
df_BND_M20 = pd.DataFrame(list_BND_M20)
df_BND_M20[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6b7f1f4500c263e561efd,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6b7f1f4500c263e561efe,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [6]:
df_BND_M20['COD1'].value_counts()

C34        945
G30        625
J81        471
I69        455
A15-A19    434
N18        416
I21        379
T08-T14    351
R54        336
I25        303
T15-T19    281
C44        275
A00-A09    273
K70        271
K65        250
C23        198
T51-T65    157
C22        155
I63        153
J69        151
I50        149
J84        144
N17        136
E11        108
C25        105
T66-T78    105
S00-S09    104
I46         89
C15         88
I20         79
J80         71
C83         67
C16         67
C50         55
F10-F19     46
C90         40
F00-F09     35
I64         35
J60         25
K92         20
B00-B09     17
J44          9
Name: COD1, dtype: int64

In [7]:
def convertCOD1(cod1) :
    cod1 = str(cod1)
    if cod1 == 'nan':
        return None
    else :
        return cod1[:3]

In [8]:
df_BND_M20['COD1_converted'] = df_BND_M20['COD1'].apply(convertCOD1)

In [9]:
df_BND_M20['COD1_converted'].value_counts()

C34    945
G30    625
J81    471
I69    455
A15    434
N18    416
I21    379
T08    351
R54    336
I25    303
T15    281
C44    275
A00    273
K70    271
K65    250
C23    198
T51    157
C22    155
I63    153
J69    151
I50    149
J84    144
N17    136
E11    108
C25    105
T66    105
S00    104
I46     89
C15     88
I20     79
J80     71
C83     67
C16     67
C50     55
F10     46
C90     40
F00     35
I64     35
J60     25
K92     20
B00     17
J44      9
Name: COD1_converted, dtype: int64

In [10]:
df_BND_M20['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [11]:
len('F_'), len('J209'), 'J209'[:3], str('T18')[:3]

(2, 4, 'J20', 'T18')

In [12]:
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3:
        return None
    else :
        return sick_sym[:3]

In [13]:
convertSICK_SYM('J209'), convertSICK_SYM('F_')

('J20', None)

In [14]:
df_BND_M20['SICK_SYM1_3'] = df_BND_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [15]:
df_BND_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [16]:
df_BND_M20_dropna = df_BND_M20.dropna()
df_BND_M20.isnull().sum()

_id                        0
RN_INDI                    0
BTH_YYYY                   0
DTH_YYYYMM            126894
COD1                  128690
COD2                  136165
RN_KEY                     0
RN_INST                    0
MDCARE_STRT_DT             0
FORM_CD                    0
MCARE_SUBJ_CD              0
SICK_SYM1                  0
OFIJ_TYPE               2735
OPRTN_YN                   0
MDCARE_DD_CNT              0
VSHSP_DD_CNT               0
TOT_PRSC_DD_CNT            0
MCARE_RSLT_TYPE         3205
EDC_ADD_RT                 0
ED_RC_TOT_AMT              0
EDC_SBA                    0
EDC_INSUR_BRDN_AMT         0
STD_YYYY                   0
COD1_converted        128690
SICK_SYM1_3            11354
dtype: int64

In [17]:
df_BND_M20_dropna.isnull().sum()

_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
COD1_converted        0
SICK_SYM1_3           0
dtype: int64

In [18]:
df_BND_M20_dropna[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD1_converted,SICK_SYM1_3
0,64e6b7f1f4500c263e561efd,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,3,5.0,0.15,10590,3000,7590,2002,T08,L02
3,64e6b7f1f4500c263e561f00,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,3,5.0,0.15,12920,3000,9920,2002,T08,K29

In [19]:
cod1_list = df_BND_M20_dropna['COD1_converted'].value_counts().index.to_list()

In [20]:
def applyIndexNumber(cod1_converted):
    indexNumber = cod1_list.index(cod1_converted)
    return indexNumber

In [21]:
df_BND_M20_dropna['COD1_converted'] = df_BND_M20_dropna['COD1_converted'].apply(applyIndexNumber)
df_BND_M20_dropna[:2]

C:\Users\01-03\AppData\Local\Temp\ipykernel_12984\3513501212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna['COD1_converted'] = df_BND_M20_dropna['COD1_converted'].apply(applyIndexNumber)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD1_converted,SICK_SYM1_3
0,64e6b7f1f4500c263e561efd,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,3,5.0,0.15,10590,3000,7590,2002,0,L02
3,64e6b7f1f4500c263e561f00,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,3,5.0,0.15,12920,3000,9920,2002,0,K29

In [22]:
target_list = df_BND_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [23]:
target_list.index('L02'), target_list.index('J03'),

(83, 6)

In [24]:
def applyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [25]:
df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)
df_BND_M20_dropna[:2]

C:\Users\01-03\AppData\Local\Temp\ipykernel_12984\836018491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna['SICK_SYM1_3_target'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(applyIndexNumber)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD1_converted,SICK_SYM1_3,SICK_SYM1_3_target
0,64e6b7f1f4500c263e561efd,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,3,5.0,0.15,10590,3000,7590,2002,0,L02,83
3,64e6b7f1f4500c263e561f00,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,3,5.0,0.15,12920,3000,9920,2002,0,K29,8

In [47]:
df_BND_M20_extract = df_BND_M20_dropna[['COD1_converted', 'SICK_SYM1_3_target', 'MCARE_SUBJ_CD', 'EDC_ADD_RT', 'OPRTN_YN', 'MDCARE_DD_CNT']]

In [48]:
from sklearn.model_selection import train_test_split
target = df_BND_M20_extract['COD1_converted']
features = df_BND_M20_extract[['SICK_SYM1_3_target', 'MCARE_SUBJ_CD', 'EDC_ADD_RT', 'OPRTN_YN', 'MDCARE_DD_CNT']]

In [49]:
target.value_counts()

0    293
1    217
2    142
3    103
4     74
Name: COD1_converted, dtype: int64

In [50]:
features_train, features_test, target_train, target_test = train_test_split(features, target, random_state=111)
features_train.shape, target_train.shape, features_test.shape, target_test.shape

((621, 5), (621,), (208, 5), (208,))

#### 모델학습

In [51]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(features_train, target_train)

C:\Users\01-03\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [52]:
model.coef_, model.intercept_

(array([[-0.00308685,  0.05250094, -0.19903106, -0.04875617, -0.03325029],
        [ 0.00226412, -0.11750817,  0.12578382, -0.06903059,  0.08538175],
        [-0.00574566, -0.07772712,  0.41976911, -0.02624861,  0.19173321],
        [ 0.00432844,  0.0827416 , -0.15562828,  0.20505395, -0.36815969],
        [ 0.00223995,  0.05999275, -0.1908936 , -0.06101858,  0.12429503]]),
 array([ 0.60708483,  0.9612567 ,  0.1803879 , -0.6225682 , -1.12616123]))

#### 예측

In [53]:
df_BND_M20_extract[10:15] # index가 features_train 같다.

,COD1_converted,SICK_SYM1_3_target,MCARE_SUBJ_CD,EDC_ADD_RT,OPRTN_YN,MDCARE_DD_CNT
14,0,3,13,0.15,0,5
15,0,3,13,0.15,0,1
17,0,26,1,0.15,0,1
18,0,3,13,0.15,0,2
19,0,46,13,0.15,0,2

In [54]:
model.predict(features_train[10:15])

array([1, 1, 0, 1, 1], dtype=int64)

In [55]:
model.predict_proba(features_train[10:15])

array([[0.25036609, 0.40279359, 0.24619587, 0.03915855, 0.06148591],
       [0.23994053, 0.42733127, 0.22432074, 0.04320585, 0.06520161],
       [0.49676729, 0.114659  , 0.10446969, 0.10135847, 0.18274555],
       [0.26372088, 0.39563083, 0.2272228 , 0.05803264, 0.05539284],
       [0.26194104, 0.3993198 , 0.22389625, 0.05893762, 0.05590529]])

#### 평가

In [56]:
target_train_predict = model.predict(features_train)
target_train_predict.shape # target_train.shape 동일

(621,)

In [57]:
from sklearn.metrics import accuracy_score # 정확도

In [58]:
accuracy_score(target_train, target_train_predict) # 교내 시험

0.4895330112721417

In [59]:
target_test_perdict = model.predict(features_test)
target_test_perdict.shape # target_test.shape 동일

(208,)

In [60]:
accuracy_score(target_test, target_test_perdict) # 교외 시험

0.4182692307692308

In [61]:
from sklearn.metrics import classification_report

In [62]:
print(classification_report(target_train, target_train_predict))

              precision    recall  f1-score   support

           0       0.53      0.76      0.62       222
           1       0.45      0.76      0.56       162
           2       0.58      0.07      0.12       103
           3       0.46      0.08      0.13        77
           4       0.00      0.00      0.00        57

    accuracy                           0.49       621
   macro avg       0.40      0.33      0.29       621
weighted avg       0.46      0.49      0.41       621

In [63]:
print(classification_report(target_test, target_test_perdict))

              precision    recall  f1-score   support

           0       0.47      0.66      0.55        71
           1       0.38      0.69      0.49        55
           2       1.00      0.03      0.05        39
           3       0.14      0.04      0.06        26
           4       0.00      0.00      0.00        17

    accuracy                           0.42       208
   macro avg       0.40      0.28      0.23       208
weighted avg       0.47      0.42      0.33       208

C:\Users\01-03\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\01-03\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\01-03\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### 오차 행렬

In [64]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score

In [65]:
confusion_matrix(target_train, target_train_predict)

array([[168,  51,   0,   3,   0],
       [ 34, 123,   4,   1,   0],
       [ 23,  70,   7,   2,   1],
       [ 46,  25,   0,   6,   0],
       [ 48,   7,   1,   1,   0]], dtype=int64)

In [69]:
precision_score(target_train, target_train_predict, average='macro')

0.40343394736198335

In [70]:
recall_score(target_train, target_train_predict, average='macro')

0.33237985179732754