### quest(NSC2_BND_M20_DecisionTreeClassifier)
- NSC2_BND_M20 사용(목표변수:SICK_SYM1, 연속변수 5개 사용)
- quest_NSC2_BND_M20_DecisionTreeClassifier 전처리, 학습, 평가

In [1]:
import pandas as pd

In [2]:
df_BND_M20=pd.read_csv('../../../datasets/NSC2_BND_M20.csv')
df_BND_M20[:2]

C:\Users\01-03\AppData\Local\Temp\ipykernel_15104\237629605.py:1: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_BND_M20=pd.read_csv('../../../datasets/NSC2_BND_M20.csv')

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,0,64e6b7f1f4500c263e561efd,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,1,64e6b7f1f4500c263e561efe,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [3]:
df_BND_M20.columns

Index(['Unnamed: 0', '_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1',
       'COD2', 'RN_KEY', 'RN_INST', 'MDCARE_STRT_DT', 'FORM_CD',
       'MCARE_SUBJ_CD', 'SICK_SYM1', 'OFIJ_TYPE', 'OPRTN_YN', 'MDCARE_DD_CNT',
       'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT', 'MCARE_RSLT_TYPE', 'EDC_ADD_RT',
       'ED_RC_TOT_AMT', 'EDC_SBA', 'EDC_INSUR_BRDN_AMT', 'STD_YYYY'],
      dtype='object')

In [4]:
df_BND_M20.isnull().sum()

Unnamed: 0                 0
_id                        0
RN_INDI                    0
BTH_YYYY                   0
DTH_YYYYMM            126894
COD1                  128690
COD2                  136165
RN_KEY                     0
RN_INST                    0
MDCARE_STRT_DT             0
FORM_CD                    0
MCARE_SUBJ_CD              0
SICK_SYM1                  0
OFIJ_TYPE               2735
OPRTN_YN                   0
MDCARE_DD_CNT              0
VSHSP_DD_CNT               0
TOT_PRSC_DD_CNT            0
MCARE_RSLT_TYPE         3205
EDC_ADD_RT                 0
ED_RC_TOT_AMT              0
EDC_SBA                    0
EDC_INSUR_BRDN_AMT         0
STD_YYYY                   0
dtype: int64

#### 연속형 데이터 채택(null 값 많지 않은 것 중)
- SICK_SYM1 주상병 => 변환 예정
- BTH_YYYY 출생년도 => LE 행 drop 필요
- VSHSP_DD_CNT 입내원일수
- TOT_PRSC_DD_CNT 총처방일수
- EDC_ADD_RT 심결가산율
- EDC_SBA 심결본인부담금

#### 미채택
- MDCARE_STRT_DT 요양개시일자 => 변환 필요(귀찮아서 제외)
- ED_RC_TOT_AMT 심결요양급여비용총액
- EDC_INSUR_BRDN_AMT 심결보험자부담금

In [5]:
drd_BND_M20=df_BND_M20[['SICK_SYM1','BTH_YYYY','VSHSP_DD_CNT','TOT_PRSC_DD_CNT','EDC_ADD_RT','EDC_SBA']]
drd_BND_M20[:2]

  SICK_SYM1 BTH_YYYY  VSHSP_DD_CNT  TOT_PRSC_DD_CNT  EDC_ADD_RT  EDC_SBA
0      L028   1921LE             1                3        0.15     3000
1      J030   1921LE             1                2        0.15     4950

In [6]:
drd_BND_M20.isnull().sum()

SICK_SYM1          0
BTH_YYYY           0
VSHSP_DD_CNT       0
TOT_PRSC_DD_CNT    0
EDC_ADD_RT         0
EDC_SBA            0
dtype: int64

#### 전처리 - SICK_SYM1

In [7]:
lst_sym1=drd_BND_M20.value_counts('SICK_SYM1').index.to_list()
lst_sym1=sorted(lst_sym1)

In [8]:
# 딕셔너리 만들기(안해도 되더란..)
# def lst_to_dict(lst):
#     result_dict = {}
#     for idx, value in enumerate(lst, start=1):
#         result_dict[value] = idx
#     return result_dict

# dict_sym1 = lst_to_dict(lst_sym1)

# def sym1_to_int(value, dictionary):
#     return dictionary.get(value)

# drd_BND_M20['SICK_SYM1'] = drd_BND_M20['SICK_SYM1'].apply(sym1_to_int, args=(dict_sym1,))
# drd_BND_M20['SICK_SYM1']

In [9]:
def sym1_to_int(value, lst):
    return lst.index(value) + 1

drd_BND_M20['SICK_SYM1'] = drd_BND_M20['SICK_SYM1'].apply(sym1_to_int, args=(lst_sym1,))
drd_BND_M20.value_counts('SICK_SYM1')

C:\Users\01-03\AppData\Local\Temp\ipykernel_15104\3867699962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drd_BND_M20['SICK_SYM1'] = drd_BND_M20['SICK_SYM1'].apply(sym1_to_int, args=(lst_sym1,))

SICK_SYM1
1141    8244
897     4629
899     3275
395     3203
2553    3177
        ...
850        1
2503       1
846        1
2507       1
1708       1
Length: 3414, dtype: int64

In [10]:
drd_BND_M20[:2]

   SICK_SYM1 BTH_YYYY  VSHSP_DD_CNT  TOT_PRSC_DD_CNT  EDC_ADD_RT  EDC_SBA
0       1508   1921LE             1                3        0.15     3000
1       1096   1921LE             1                2        0.15     4950

#### 전처리 - BTH_YYYY

In [11]:
indexes_to_drop = drd_BND_M20[drd_BND_M20['BTH_YYYY'].astype(str).str.endswith('LE')].index
pre_BND_M20 = drd_BND_M20.drop(indexes_to_drop)
len(indexes_to_drop)

1299

In [12]:
pre_BND_M20

        SICK_SYM1 BTH_YYYY  VSHSP_DD_CNT  TOT_PRSC_DD_CNT  EDC_ADD_RT  EDC_SBA
1299         1094     1922             1                3        0.15     3000
1300         1143     1922             1                2        0.15     3000
1301         1102     1922             1                2        0.15     3000
1302         1102     1922             1                2        0.15     3000
1303         1102     1922             1                2        0.15     3000
...           ...      ...           ...              ...         ...      ...
137158       1141     2015             1                0        0.15     2300
137159       1141     2015             1                0        0.15     3700
137160       1141     2015             1                0        0.15     2800
137161       1141     2015             1                0        0.15     2600
137162       1073     2015             1                0        0.25     6800

[135864 rows x 6 columns]

#### 정형화

In [13]:
target_train = pre_BND_M20['SICK_SYM1'] # 목표변수
features_train = pre_BND_M20.drop(columns=['SICK_SYM1']) # 설명변수
target_train.shape, features_train.shape

((135864,), (135864, 5))

#### 모델 학습

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(features_train, target_train)

DecisionTreeClassifier()

In [15]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [16]:
%matplotlib inline

In [17]:
# plot_tree(model, feature_names=features_train.columns) # 수치와 함께 표시
# plt.figure(figsize=(30,15))
# plot_tree(model, feature_names=features_train.columns, filled=True)
# plt.show()

#### 평가

In [18]:
target_predict = model.predict(features_train)
target_predict.shape

(135864,)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(target_train, target_predict)

0.6143790849673203