### 지도학습
#### 분류-다항분류

In [4]:
import pandas as pd

In [41]:
df_TFD=pd.read_csv('../../../datasets/TitanicMachineLearningfromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 전처리

In [6]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
drd_df_TFD = df_TFD[['Survived','Pclass','Age','Fare']]
drd_df_TFD.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [11]:
pre_drd_df_TFD=drd_df_TFD.dropna()
pre_drd_df_TFD[:2]

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

#### 정형화

In [12]:
target_train = pre_drd_df_TFD['Pclass'] # 목표변수
features_train = pre_drd_df_TFD.drop(columns=['Pclass']) # 설명변수
target_train.shape, features_train.shape

((714,), (714, 3))

#### 모델 학습

In [19]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(features_train, target_train)

DecisionTreeClassifier()

In [21]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [30]:
%matplotlib tk

In [38]:
# plot_tree(model, feature_names=features_train.columns) # 수치와 함께 표시
plt.figure(figsize=(30,15))
plot_tree(model, feature_names=features_train.columns, filled=True)
plt.show()

#### 평가
- 평가해서 모델이 어떤식으로 그려지는지 본다.

In [15]:
target_predict = model.predict(features_train)
target_predict.shape

(714,)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(target_train, target_predict)

1.0